---
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="google-site-verification" content="IviHk8X99_HdPxiAt-5YM1dCi17HWBsquRJuPadYanY" />
    <link href="//fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="stylesheets/main.css" media="screen">
    <link rel="stylesheet" href="stylesheets/popup.css">
    <link rel="stylesheet" href="stylesheets/contributors.css">
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>JBoss User Group</title>
</head>
<body>



  <!-- Navigation Bar -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#collapse"
              aria-expanded="false">
              <span class="sr-only"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">
              <img src="./images/jbosscommunity.png" height="45">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="collapse">
            <ul class="nav navbar-nav" id="menu">
              <li><a class="menu-item" href="#mentors">Members</a></li>
              </ul>
          </div>
        </div>
      </nav>
  <!-- End of Navigation Bar -->

<!-- Main Content -->
    <section class="main-content">

        <div class="container">

          <!-- Mentors Section -->
          <section class="mentors" id="mentors" href="#mentors">
              <div class="row mentors-wrapper">
                  <!-- Start ignoring BootLintBear -->
                  <h2>Members</h2>
                  <!-- Stop ignoring -->
                  {% for m in site.data.members %}
                  {% assign mentor = m[1] %}
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                      <div class="card">
                          <div class="avatar">
                              {% if mentor.image %}
                              <img src="images/mentors/{{mentor.image}}" alt="{{ mentor.name }}">
                              {% else %}
                              <img src="images/mentors/member.png" alt="{{ mentor.name }}">
                              {% endif %}
                              <div class="social">
                                  Show more<br>
                                  information
                              </div>
                              <p style="display: inline-block;">{{mentor.name}}</p>
                          </div>
                      </div>
                      {% include popup.html person=mentor who='mentor' %}
                  </div>
                  {% endfor %}
              </div>
          </section>
          <!-- End of Mentor Section -->

    </section>
<!-- End of Main Content -->


<!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="//use.fontawesome.com/7f8b61349a.js" async></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
